.titleText {
    font-family: "Times New Roman", Times, Serif;
    font-size: 0.75cm;
}

.mainBody {
    background-color: #d6f0ff;
    font-family: "Times New Roman", Times, Serif;
}

.mainCheckboxGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Part of the MainCheckBoxGroup Class
 */
.mainCheckboxGroup label {
    font-size: 20px;
    margin-right: 10px;
}

.categoryOption {
    font-size: 25px;
}

/*Submit Button
 */
.submitBtn {
    display: inline-block;
    font-family: "Times New Roman", Times, Serif;
    font-size: 16px;
    border-color: black;
}

/*Clear Button
 */
.clearBtn {
    display: inline-block;
    margin-right: 10px;
}