<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>County Comparison </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="MainPageClass.css">

    <!-- Bootstrap JS (and dependencies) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%  static 'MainPageClass.css' %}">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
{% block content %}
<body class="mainBody" style="background-color:#d9f1fc;">

    <nav class="navbar sticky-top navbar-light" style="background-color: #fa8b37;">
      <div class="container-fluid">
          <a class="navbar-brand titleText" href="{% url 'views' %} " ><b>WeatherSensei: County Comparison</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'views' %} " >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'onefips' %} ">Single County Deep Dive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'twofips' %} ">County Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'states' %} ">State Comparison</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-3">
    <form id = "weatherForm" style="text-align: center;" action="{% url 'twofips' %} " method="post">
    <!-- FIPS OF INTEREST -->
        <div>
        <p class="categoryOption"><u>Choose a FIPS Code:</u></p>
            <select class="form-select" aria-label="fips" name="fips1">
                <option selected>Select a FIPS code</option>
                {% for iter in location_data %}
                    <option value={{ iter.0 }}>{{ iter.2 }} - {{ iter.0 }} - {{ iter.1 }}</option>
                {% endfor %}
            </select>
        </div>
    <p><br></p>
    <div>
        <p class="categoryOption"><u>Choose a FIPS Code:</u></p>
            <select class="form-select" aria-label="fips" name="fips2">
                <option selected>Select a FIPS code</option>
                {% for iter in location_data %}
                    <option value={{ iter.0 }}>{{ iter.2 }} - {{ iter.0 }} - {{ iter.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- CHOOSE WEATHER INTEREST -->
    <p class="categoryOption"><u>Choose your Weather Interest:</u></p>
    <div class="form-check" id="WxCheckbox">
      <input type="checkbox" id="wx1" name="Tornado" value="TORN">
      <label for="wx1">Tornado</label>
      <input type="checkbox" id="wx2" name="Hail" value="HAIL">
      <label for="wx2">Hail</label>
      <input type="checkbox" id="wx3" name="Wind" value="WIND">
      <label for="wx3">Wind</label>
    </div>

    <p><br></p>
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="month" checked>
            <label class="btn btn-outline-primary" for="btnradio1">By Month</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="year">
            <label class="btn btn-outline-primary" for="btnradio2">By Year</label>
        </div>

    <!-- SUBMIT AND CLEAR BUTTONS -->
        <p><br></p>
    <input type="submit" value="Submit" class="submitBtn">
    <input type="button" value="Clear" onclick="resetForm()" class="clearBtn">
        {% csrf_token %}
    </form>
<!-- Entire Form Reset function -->
                <script>
                        function resetForm() {
                          document.getElementById("weatherForm").reset();

                          // get all checkboxes on the page
                          const checkboxes = document.querySelectorAll('input[type="checkbox"]');

                          // loop through checkboxes and set their checked property to false
                          checkboxes.forEach((checkbox) => {
                            checkbox.checked = false;
                          });

                          // reset dropdown
                          var dropdown = document.getElementById("weatherDropdown");
                          dropdown.selectedIndex = 0;
                        }
                </script>
            </div>
        <div class="col-9">
            {{ d1fips|safe }} {{ d2fips|safe }}
    <div class="row">
        <canvas id="myChart" width="800" height="500"></canvas>
    </div>
    <script>
        let yr={{ the_chart.yr|safe }};
        let d1={{ the_chart.data1|safe }};
        let d2={{ the_chart.data2|safe }};

        let d1fips={{ the_chart.d1fips|safe }};
        let d2fips={{ the_chart.d2fips|safe }};

        let ctx = document.getElementById('myChart');

        let myChart = new Chart(ctx, {
            data: {
                labels: yr,
                datasets: [
                    {type: 'bar', label: d1fips.toString(), data: d1},
                    {type: 'bar', label: d2fips.toString(), data: d2},
                ]
            },
            options: {
                responsive: false,
                }
        });
    </script>

    <div class="row">
        <p>yr: {{ the_chart.yr|safe }}</p>
        <p>data1: {{ the_chart.data1|safe }}</p>
        <p>data2: {{ the_chart.data2|safe }}</p>
    </div>
        </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>